---
import Layout from "@src/components/Layout.astro";
---

<Layout>

	<p>Hello?</p>

	<ul id="messages-list">

	</ul>

	<form id="chat-form">
		<input name="message" id="message-input" />
		<button>Send</button>
	</form>
<script is:inline src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script is:inline>
	var socket = io("ws://localhost:3001");

	const chatForm = document.querySelector('#chat-form');
	const messageInput = document.querySelector('#message-input');
	const messagesList = document.querySelector('#messages-list');

	chatForm.addEventListener('submit', function(event) {
		event.preventDefault();
	
	socket.emit('chat message', messageInput.value);
	messageInput.value = '';
		
	});

socket.on('chat message', function(msg) {
    console.log("new chat message", msg);
    const newMessageLi = document.createElement('li');
    newMessageLi.textContent = msg;
    messagesList.appendChild(newMessageLi);
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>
	</Layout>

